<div class="products_filter">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="dropdown pt-2 pt-lx-0">
                            <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownColor"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Color
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownColor">
                                <li><a class="dropdown-item" href="#">Rose gold</a></li>
                                <li><a class="dropdown-item" href="#">Gold</a></li>
                                <li><a class="dropdown-item" href="#">Wave silver</a></li>
                                <li><a class="dropdown-item" href="#">Black night</a></li>
                            </ul>
                        </div>
                        <div class="dropdown pt-2 pt-lx-0">
                            <button class="products_filter-dropdown dropdown-toggle rounded" type="button"
                                id="dropdownStrapType" data-bs-toggle="dropdown" aria-expanded="false">
                                Strap type
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownStrapType">
                                <li><a class="dropdown-item" href="#">Metal</a></li>
                                <li><a class="dropdown-item" href="#">Leather</a></li>
                                <li><a class="dropdown-item" href="#">Rubber</a></li>
                            </ul>
                        </div>
                        <div class="dropdown pt-2 pt-lx-0">
                            <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownSort"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sort by
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSort">
                                <li><a class="dropdown-item" href="#">Whats's New</a></li>
                                <li><a class="dropdown-item" href="#">Price low to high</a></li>
                                <li><a class="dropdown-item" href="#">Price high to low </a></li>
                            </ul>
                        </div>
                        <div class="dropdown pt-2 pt-lx-0">
                            <button class="products_filter-dropdown dropdown-toggle rounded" type="button"
                                id="dropdownWatchType" data-bs-toggle="dropdown" aria-expanded="false">
                                Watch type
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownWatchType">
                                <li><a class="dropdown-item" href="#">Quartz watches</a></li>
                                <li><a class="dropdown-item" href="#">Automatic watches</a></li>
                                <li><a class="dropdown-item" href="#">Smart watches</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>